@model List<ArticleInfoDto>

<h2>Makale Listesi</h2>

<div class="text-end mb-3">
    <a asp-action="Create" asp-controller="Article" class="btn btn-success">Makale Oluştur</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Başlık</th>
            <th>Yazar</th>
            <th>İçerik</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var article in Model)
        {
            <tr>
                <td>@(article.Title.Length > 10 ? article.Title.Substring(0, 10)  + "..." : article.Title)</td>
                <td>@article.UserName</td>
                <td>@(article.Content.Length > 50 ? article.Content.Substring(0, 50) + "..." : article.Content)</td>
                <td>
                    <a asp-action="Details" asp-route-id="@article.Id" class="btn btn-info">Detay</a>
                    <a asp-action="Edit" asp-route-id="@article.Id" class="btn btn-warning">Düzenle</a>
                    <a asp-action="Delete" asp-route-id="@article.Id" class="btn btn-danger">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
