@model ArticleViewModel
@using System.Security.Claims;
@using Blog.WebUI.Extensions;

<h2>Makale Listesi</h2>

<div class="text-end mb-3">
    <a asp-action="Create" asp-controller="Article" class="btn btn-success">Makale Oluştur</a>
    @if (User.IsAdmin())
    {
        <a asp-action="Create" asp-controller="Tag" class="btn btn-primary">Etiket Oluştur</a>
    }
</div>

<table class="table">
    <thead>
        <tr>
            <th>Başlık</th>
            <th>Yazar</th>
            <th>İçerik</th>
            <th>Etiketler</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var article in Model.Articles)
        {
            <tr>
                <td>@(article.Title.Length > 10 ? article.Title.Substring(0, 10) + "..." : article.Title)</td>
                <td>@article.UserName</td>
                <td>@(article.Content.Length > 50 ? article.Content.Substring(0, 50) + "..." : article.Content)</td>
                <td>
                    @foreach (var tag in article.TagNames)
                    {
                        <span class="badge bg-primary">@tag</span>
                    }
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@article.Id" asp-route-title="@article.Title.Replace(" ", "-").Replace("'", "").ToLower()" class="btn btn-info">Detay</a>
                    @if (User.IsAdmin() || (User.IsLogged() && article.UserId == User.GetUserId()))
                    {
                        <a asp-action="Edit" asp-route-id="@article.Id" class="btn btn-warning">Düzenle</a>
                        <a asp-action="Delete" asp-route-id="@article.Id" class="btn btn-danger">Sil</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<nav aria-label="Page navigation">
    <ul class="pagination">
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(Model.CurrentPage == i ? "active" : "")">
                <a class="page-link" asp-action="Index" asp-route-page="@i">@i</a>
            </li>
        }
    </ul>
</nav>
