@model List<ArticleInfoDto>

<h2>Makale Listesi</h2>

<table class="table">
    <thead>
        <tr>
            <th>Başlık</th>
            <th>Yazar</th>
            <th>İçerik</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var article in Model)
        {
            <tr>
                <td>@article.Title</td>
                <td>@article.UserName</td>
                <td>@article.Content</td>
                <td>
                    <a asp-action="Details" asp-route-id="@article.Id" class="btn btn-info">Detay</a>
                    <a asp-action="Edit" asp-route-id="@article.Id" class="btn btn-warning">Düzenle</a>
                    <a asp-action="Delete" asp-route-id="@article.Id" class="btn btn-danger">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>